* {
  font-family: "Pretendard", sans-serif;
}

@font-face {
  font-family: 'Isamanru';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff') format('woff');
  font-weight: normal;
  font-display: swap;
}

body {
  font-weight: normal;
  background-color: #f4f4f9;
}

/* 모바일에서 하단 여백 추가 */
@media only screen and (max-width: 768px) {
  body {
    padding-bottom: 30px;
  }
}
