/* Main Layout Containers */
.calendar-container {
    width: 100%;
    margin: 110px auto 0;
    padding: 0 10%;
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.left-container {
    display: flex;
    flex-direction: column;
}



/* Mobile Layout Adjustments */
@media only screen and (max-width: 768px) {
    .calendar-container {
        flex-direction: column;
        align-items: center;
        padding: 10px;
        gap: 20px;
        margin: 80px auto 0;
        padding-bottom: 120px;
        /* 하단 여백 추가 */
    }

    .calendar-container>.coupon-kakaopay-container {
        order: 1;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .calendar-container>.left-container {
        order: 2;
        align-items: center;
        gap: 15px;
    }
}