/* Raid Timer Scrollbar */
#raid-timers::-webkit-scrollbar {
    width: 2px;
}

#raid-timers::-webkit-scrollbar-thumb {
    background: #222;
    border-radius: 3px;
}

#raid-timers::-webkit-scrollbar-track {
    background: transparent;
}

#raid-timers {
    scrollbar-width: thin;
    scrollbar-color: #222 transparent;
}

/* Raid Timer Settings */
.raid-alarm-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.settings-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    color: #666;
    padding: 0;
}

.settings-button:hover {
    color: #333;
}

.raid-timer-controls {
    position: relative;
}

.settings-panel {
    position: absolute;
    left: 100%;
    top: 0;
    margin-left: 5px;
    z-index: 1001;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 25px 10px 10px 10px;
    width: 255px;
}

.popup-close-button {
    position: absolute;
    top: 2px;
    right: 8px;
    background: none;
    border: none;
    font-size: 1.5rem;
    color: #aaa;
    cursor: pointer;
}

.popup-close-button:hover {
    color: #333;
}

.setting-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.setting-item:last-child {
    margin-bottom: 0;
}

.setting-item label {
    font-size: 11px;
    margin-right: 5px;
    width: 60px;
}

.setting-item input[type="range"] {
    flex-grow: 1;
    width: auto;
    height: 5px;
}

#alarm-duration-value {
    font-size: 11px;
    margin-left: 10px;
    width: 30px;
}